/* div {
    border: 2px solid black;
} */

body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

.calculator-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    border-radius: 15px;
    border: 3px solid grey;
    background-color: #f8f4ff ;
}


.display-wrapper {
    display:flex;
    flex-direction: column;
    height: 60px;
    width : 400px;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: azure;

}

#display-input,
#display-output {
    font-size: 23px;
    align-self:flex-end;
}

.grid {
    display:flex;
    flex-direction: column;
    gap: 3px;
}

.bottom{
    display: flex;
    gap: 3px;
}

.normal {
    width: 50px;
    height: 50px;
}

.num {
    background-color: navy;
}

.key {
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.special{
    height: 50px;
    flex: 1 1 0;
    background-color: #8B8000;
    text-align: center;
}

.operator {
    background-color: red;
}